@model List<RewardViewModel>
@{
    ViewData["Title"] = "Награды";
    Layout = "_Reward.cshtml";
}

@section BreadLink {
    <li class="breadcrumb-item active" aria-current="page">User</li>
}

<h2>Список наград</h2>
<div class="row">
    <div class="col-md-6">
        <a asp-controller="Reward" asp-action="Edit" asp-route-index="0">Создать награду</a>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-condensed table-striped table-hover col-md-12">
        <thead>
            <tr class="d-flex">
                <th class="col-1">Id</th>
                <th class="col-2">Изображение</th>
                <th class="col-3">Название</th>
                <th class="col-4">Описание</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex">
                    <td class="col-1">@item.Id</td>
                    <td class="col-2"><img src="@item.ImageUrl" class="img-fluid" /></td>
                    <td class="col-3">@item.Title</td>
                    <td class="col-4">@item.Description</td>
                    <td class="col-2">
                        <a asp-controller="Reward" asp-action="Edit" asp-route-index="@item.Id">Изменить</a> |
                        <a asp-controller="Reward" asp-action="Delete" asp-route-index="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>