@model List<UserViewModel>
@{
    ViewData["Title"] = "Пользователи";
    Layout = "_User.cshtml";
}

@section BreadLink {
    <li class="breadcrumb-item active" aria-current="page">User</li>
}

<h2>Список пользователей</h2>
<div class="row">
    <div class="col-md-6">
        <a asp-controller="User" asp-action="GetUsersFile">Скачать список</a>
    </div>
    <div class="col-md-6 text-md-right">
        <a asp-controller="User" asp-action="Create">Создать пользователя</a>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-condensed table-striped table-hover col-md-12">
        <thead>
            <tr class="d-flex">
                <th class="col-1">Id</th>
                <th class="col-1">Фото</th>
                <th class="col-2">Имя</th>
                <th class="col-1">возраст</th>
                <th class="col-4">Награды</th>
                <th class="col-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex">
                    <td class="col-1">@item.Id</td>
                    <td class="col-1"><img src="@item.PhotoUrl" class="rounded img-fluid" /></td>
                    <td class="col-2">@item.Name</td>
                    <td class="col-1">@item.Age</td>
                    <td class="col-4">
                        <div class="row">
                            @foreach (var rew in item.RewardsVM)
                            {
                                <div class="col">
                                    <a asp-controller="Reward" asp-action="GetItem" asp-route-id="@rew.Id" target="_blank">
                                        <img src="@rew.ImageUrl" title="@rew.Title" class="rounded img-fluid" />
                                    </a>
                                </div>
                            }
                        </div>
                    </td>
                    <td class="col-3 text-md-right">
                        <a asp-controller="Reward" asp-action="RewardUser" asp-route-userIndex="@item.Id">Наградить</a> |
                        <a asp-controller="User" asp-action="Edit" asp-route-index="@item.Id">Изменить</a> |
                        <a asp-controller="User" asp-action="Delete" asp-route-index="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>